@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workhouse - Plumbing,Cleaning and Roofing Website Template</title>
    <!-- favicon -->
    <link rel=icon href="assets/images/favicon.png" sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="assets/fonts/flaticon.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>
<body id="default-home">
    <!-- Header start -->
    <div id="header-section" class="header-style-01">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-9">
                        <div class="header-top-left d-none d-md-block d-lg-block">
                            <ul class="d-flex">
                                <li>
                                    <span>24H EMERGENCY SERVICE</span>
                                    <p><i class="fa fa-phone"></i>+1 000 000 000</p>
                                </li>
                                <li>
                                    <span>CALL OFFICE # </span>
                                    <p><i class="fa fa-phone"></i>+1 222 222 222</p>
                                </li>
                                <li>
                                    <span>Email Address</span>
                                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="nav-right-content d-lg-flex justify-content-lg-end">
                            <div class="header-btn"><a class="btn btn-primary" href="contact.html">Contact Us</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- support bar area end -->
       
        <!-- navbar area end -->
    </div>
    <!-- Header end --><!-- Hero start -->
    <section id="hero-section" class="hero-slider-one style-01">
        <div class="hero-area bg-prefix" style="background-image:url(assets/images/cleaning/hero-04.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content">
                            <h3 class="subtitle">Best in-country</h3>
                            <h1 class="title">Cleaning<span>Service</span></h1>
                            <p>Our highly trained and skilled plumbers offer a full range of services for residential plumbing and commercial plumbing.</p>
                            <div class="hero-btn mt-30"><a href="#" class="btn btn-primary">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-area bg-prefix" style="background-image:url(assets/images/cleaning/hero-02.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content">
                            <h3 class="subtitle">Best in-country</h3>
                            <h1 class="title">Cleaning<span>Service</span></h1>
                            <p>Our highly trained and skilled plumbers offer a full range of services for residential plumbing and commercial plumbing.</p>
                            <div class="hero-btn mt-30"><a href="#" class="btn btn-primary">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero end --><!-- Service start -->
    <section id="service-section" class="service pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-sm-12 col-12">
                    <div class="section-title service-title text-center mb-25">
                        <span class="subtitle">what we do for you?</span>
                        <h2 class="title">Popular services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-single-item mt-30">
                        <div class="service-icon-shape">
                            <div class="shape"><img src="assets/images/services/service-shape-blue.png" alt="service shape"></div>
                            <div class="icon"><i class="flaticon-window"></i></div>
                        </div>
                        <div class="content mt-30">
                            <a href="service-single.html">
                                <h4 class="title">Office cleaning</h4>
                            </a>
                            <p class="text">Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-single-item mt-30">
                        <div class="service-icon-shape">
                            <div class="shape"><img src="assets/images/services/service-shape-blue.png" alt="service shape"></div>
                            <div class="icon"><i class="flaticon-clean"></i></div>
                        </div>
                        <div class="content mt-30">
                            <a href="service-single.html">
                                <h4 class="title">Pool cleaning</h4>
                            </a>
                            <p class="text">Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-single-item mt-30">
                        <div class="service-icon-shape">
                            <div class="shape"><img src="assets/images/services/service-shape-blue.png" alt="service shape"></div>
                            <div class="icon"><i class="flaticon-cleaning"></i></div>
                        </div>
                        <div class="content mt-30">
                            <a href="service-single.html">
                                <h4 class="title">Carpet cleaning</h4>
                            </a>
                            <p class="text">Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-single-item mt-30">
                        <div class="service-icon-shape">
                            <div class="shape"><img src="assets/images/services/service-shape-blue.png" alt="service shape"></div>
                            <div class="icon"><i class="flaticon-home"></i></div>
                        </div>
                        <div class="content mt-30">
                            <a href="service-single.html">
                                <h4 class="title">House Cleaning</h4>
                            </a>
                            <p class="text">Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-single-item mt-30">
                        <div class="service-icon-shape">
                            <div class="shape"><img src="assets/images/services/service-shape-blue.png" alt="service shape"></div>
                            <div class="icon"><i class="flaticon-joist"></i></div>
                        </div>
                        <div class="content mt-30">
                            <a href="service-single.html">
                                <h4 class="title">Window Cleaning</h4>
                            </a>
                            <p class="text">Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-single-item mt-30">
                        <div class="service-icon-shape">
                            <div class="shape"><img src="assets/images/services/service-shape-blue.png" alt="service shape"></div>
                            <div class="icon"><i class="flaticon-roof"></i></div>
                        </div>
                        <div class="content mt-30">
                            <a href="service-single.html">
                                <h4 class="title">Roof Cleaning</h4>
                            </a>
                            <p class="text">Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service End --><!-- About start -->
    <section id="about-section" class="about-area mt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <span class="subtitle">we are plumbart</span>
                                <h2 class="title">Professionals Plumbing Services Ever</h2>
                                <p class="text">Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat.</p>
                                <p class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat commodo consequat.</p>
                                <div class="hero-btn mt-30"><a href="#" class="btn btn-primary">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="request-form">
                        <div class="content">
                            <h3 class="title">Get a quote</h3>
                        </div>
                        <form action="request.html" class="request-page-form" novalidate="novalidate">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="phone" placeholder="phone" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="date" placeholder="20-06-2021" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="your-message" cols="40" rows="2" class="form-control" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Submit Request" class="submit-btn">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About end --><!-- Call to start -->
    <section id="callto-section" class="callto-area mt-100 pt-100 pb-100">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-12">
                    <div class="content callto text-center mt-20">
                        <h6 class="subtitle">Simply call our 24 hour emergency plumbing</h6>
                        <h2 class="title mt-20 mb-20">Quick & reliable repair of emergency leaks & pipe burst</h2>
                        <span class="phone-number">+(0001) 000 0000</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="callto-img"><img src="assets/images/callto.png" alt="water tap"></div>
    </section>
    <!-- Callto end --><!-- Projects start -->
    <section id="project-section" class="project-area mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-sm-12 col-12">
                    <div class="section-title project-title text-center mb-25">
                        <span class="subtitle">what we did from our establishment?</span>
                        <h2 class="title">Project we have done!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="project-item mt-30">
                        <div class="project-img"><img src="assets/images/cleaning/gallery/01.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Oven Installation</h5>
                            <div class="icon"><a href="project-single.html"><i class="flaticon-right-arrow"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="project-item mt-30">
                        <div class="project-img"><img src="assets/images/cleaning/gallery/02.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Oven Installation</h5>
                            <div class="icon"><a href="project-single.html"><i class="flaticon-right-arrow"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="project-item mt-30">
                        <div class="project-img"><img src="assets/images/cleaning/gallery/03.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Oven Installation</h5>
                            <div class="icon"><a href="project-single.html"><i class="flaticon-right-arrow"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="project-item mt-30">
                        <div class="project-img"><img src="assets/images/cleaning/gallery/04.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Oven Installation</h5>
                            <div class="icon"><a href="project-single.html"><i class="flaticon-right-arrow"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="project-item mt-30">
                        <div class="project-img"><img src="assets/images/cleaning/gallery/05.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Oven Installation</h5>
                            <div class="icon"><a href="project-single.html"><i class="flaticon-right-arrow"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="project-item mt-30">
                        <div class="project-img"><img src="assets/images/cleaning/gallery/06.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Oven Installation</h5>
                            <div class="icon"><a href="project-single.html"><i class="flaticon-right-arrow"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects end --><!-- Solution start -->
    <section id="solution-section" class="solution-area mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title solution-title text-center mb-25">
                        <span class="subtitle">How to solve problem?</span>
                        <h2 class="title">Our Solutions</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="solution-img mt-30"><img src="assets/images/solutions/solution.png" alt=""></div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="solution-item mt-30">
                                <div class="solution-shape-icon">
                                    <div class="shape"><img src="assets/images/solutions/service-shape-yellow.png" alt=""></div>
                                    <div class="icon"><i class="flaticon-commode"></i></div>
                                </div>
                                <div class="content mt-30">
                                    <h5 class="title">Remaking Bathroom</h5>
                                    <p class="text">Quis acclhumsan libero maximus magna. Vivamus lesuada nisi at mauris facilisis</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="solution-item mt-30">
                                <div class="solution-shape-icon">
                                    <div class="shape"><img src="assets/images/solutions/service-shape-blue.png" alt=""></div>
                                    <div class="icon"><i class="flaticon-pipes"></i></div>
                                </div>
                                <div class="content mt-30">
                                    <h4 class="title">Pipeline Feeting</h4>
                                    <p class="text">Quis acclhumsan libero maximus magna. Vivamus lesuada nisi at mauris facilisis</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="solution-item mt-30">
                                <div class="solution-shape-icon">
                                    <div class="shape"><img src="assets/images/solutions/service-shape-green.png" alt=""></div>
                                    <div class="icon"><i class="flaticon-pressure-gauge"></i></div>
                                </div>
                                <div class="content mt-30">
                                    <h5 class="title">Water Pressure Gauge</h5>
                                    <p class="text">Quis acclhumsan libero maximus magna. Vivamus lesuada nisi at mauris facilisis</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="solution-item mt-30">
                                <div class="solution-shape-icon">
                                    <div class="shape"><img src="assets/images/solutions/service-shape-pink.png" alt=""></div>
                                    <div class="icon"><i class="flaticon-shower-1"></i></div>
                                </div>
                                <div class="content mt-30">
                                    <h4 class="title">Change Shower</h4>
                                    <p class="text">Quis acclhumsan libero maximus magna. Vivamus lesuada nisi at mauris facilisis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Solution end --><!-- testimonial start -->
    <section id="testimonial-section" class="testimonial-area bg-image mt-100">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-6">
                    <div class="testimonial-counter bg-image" data-jarallax='{"speed": 0.6}' style="background: url(assets/images/cleaning/testimonial/testimonial.jpg">
                        <div class="content">
                            <h2 class="title"><span class="count-num">10,03,828</span></h2>
                            <h4>What Say's Our Clients About Us</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="testimonial-carousel-area">
                        <div class="testimonial-carousel">
                            <div class="single-testimonial-item">
                                <div class="content">
                                    <div class="icon"><i class="flaticon-left-quote"></i></div>
                                    <p class="text">I found myself working in a true partnership that results in an incredible experience,and an end product that is the best. </p>
                                    <div class="author-details">
                                        <div class="author-img mt-20"><img src="assets/images/testimonial/3.jpg" alt=""></div>
                                        <div class="author-meta mt-20">
                                            <h4 class="title">Andre Robin</h4>
                                            <span class="designation">CEO,Lorem Ipsum</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial-item">
                                <div class="content">
                                    <div class="icon"><i class="flaticon-left-quote"></i></div>
                                    <p class="text">I found myself working in a true partnership that results in an incredible experience,and an end product that is the best. </p>
                                    <div class="author-details">
                                        <div class="author-img mt-20"><img src="assets/images/testimonial/3.jpg" alt=""></div>
                                        <div class="author-meta mt-20">
                                            <h4 class="title">Andre Robin</h4>
                                            <span class="designation">CEO,Lorem Ipsum</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial-item">
                                <div class="content">
                                    <div class="icon"><i class="flaticon-left-quote"></i></div>
                                    <p class="text">I found myself working in a true partnership that results in an incredible experience,and an end product that is the best. </p>
                                    <div class="author-details">
                                        <div class="author-img mt-20"><img src="assets/images/testimonial/3.jpg" alt=""></div>
                                        <div class="author-meta mt-20">
                                            <h4 class="title">Andre Robin</h4>
                                            <span class="designation">CEO,Lorem Ipsum</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial end --><!-- Team start -->
    <section id="team-section" class="blog-area mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-sm-12 col-12">
                    <div class="section-title project-title text-center mb-25">
                        <span class="subtitle">How do work our expert?</span>
                        <h2 class="title">Our Experienced Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item mt-30">
                        <div class="team-img"><img src="assets/images/team/01.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Alok Macron</h5>
                            <span>Plumber</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item mt-30">
                        <div class="team-img"><img src="assets/images/team/02.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Rafael Solen</h5>
                            <span>Plumber</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item mt-30">
                        <div class="team-img"><img src="assets/images/team/03.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Anna Maria</h5>
                            <span>Plumber</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item mt-30">
                        <div class="team-img"><img src="assets/images/team/04.jpg" alt=""></div>
                        <div class="content">
                            <h5 class="title">Jim Hariken</h5>
                            <span>Plumber</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team end --><!-- blog start -->
    <section id="blog-section" class="blog-area mt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title blog-title text-center mb-25">
                        <span class="subtitle">Latest News From our Blog</span>
                        <h2 class="title">Our Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-post-item style-01 mt-30">
                        <div class="thumb"><img src="assets/images/blog/01.jpg" alt="blog image"></div>
                        <div class="post-category mt-30"><a href="blog-single.html">working</a></div>
                        <div class="content">
                            <h4 class="title"><a href="blog-single.html">The Best Cities to Travel Our Team in the USA</a></h4>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit... </p>
                            <ul class="post-meta d-flex align-items-center mt-25">
                                <li><a href="#"><img src="assets/images/blog/author.jpg" alt="">David Smith</a></li>
                                <li class="separator"></li>
                                <li class="date"><a href="#">June 15,2021</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-post-item style-01 mt-30">
                        <div class="thumb"><img src="assets/images/blog/02.jpg" alt="blog image"></div>
                        <div class="post-category mt-30"><a href="blog-single.html">working</a></div>
                        <div class="content">
                            <h4 class="title"><a href="blog-single.html">The Best Cities to Travel Our Team in the USA</a></h4>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit... </p>
                            <ul class="post-meta d-flex align-items-center mt-25">
                                <li><a href="#"><img src="assets/images/blog/author.jpg" alt="">David Smith</a></li>
                                <li class="separator"></li>
                                <li class="date"><a href="#">June 15,2021</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-post-item style-01 mt-30">
                        <div class="thumb"><img src="assets/images/blog/03.jpg" alt="blog image"></div>
                        <div class="post-category mt-30"><a href="blog-single.html">working</a></div>
                        <div class="content">
                            <h4 class="title"><a href="blog-single.html">The Best Cities to Travel Our Team in the USA</a></h4>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit... </p>
                            <ul class="post-meta d-flex align-items-center mt-25">
                                <li><a href="#"><img src="assets/images/blog/author.jpg" alt="">David Smith</a></li>
                                <li class="separator"></li>
                                <li class="date"><a href="#">June 15,2021</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog end --><!-- Footer start -->
    <footer id="footer-section" class="footer-area mt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget widget">
                        <div class="footer-widget-about">
                            <a href="index.html" class="footer-logo"><img src="assets/images/logo.png" alt="footer logo"></a>
                            <p class="mt-50 xs-mt-30">Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt,eiusmod tempor incididunt ut labore et dolore eiusmoder tempor incididun.</p>
                        </div>
                        <div class="footer-widget-social mt-50 xs-mt-30">
                            <ul class="d-flex">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="footer-widget widget xs-mt-50">
                        <h4 class="widget-title mb-20">Latest <span>Posts</span></h4>
                        <div class="footer-widget-post">
                            <div class="card mt-30">
                                <div class="row g-0">
                                    <div class="col-md-5 col-5">
                                        <div class="thumb"><img src="assets/images/blog/01.jpg" alt=""></div>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <div class="card-body content">
                                            <div class="meta mb-15"><span>June 17,2021</span></div>
                                            <h6 class="title"><a href="blog-single.html">Plumart - Bath Repair Services</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-30">
                                <div class="row g-0">
                                    <div class="col-md-5 col-5">
                                        <div class="thumb"><img src="assets/images/blog/02.jpg" alt=""></div>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <div class="card-body content">
                                            <div class="meta mb-15"><span>June 17,2021</span></div>
                                            <h6 class="title"><a href="blog-single.html">Plumart - Bath Repair Services</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-gallery widget xs-mt-30">
                        <h4 class="widget-title mb-20">Project We <span>Have Done</span></h4>
                        <div class="footer-widget-gallery">
                            <ul class="">
                                <li>
                                    <figure><img src="assets/images/gallery/01.jpg" class="img-responsive" alt="footer post thumb image"></figure>
                                </li>
                                <li>
                                    <figure><img src="assets/images/gallery/02.jpg" class="img-responsive" alt="footer post thumb image"></figure>
                                </li>
                                <li>
                                    <figure><img src="assets/images/gallery/03.jpg" class="img-responsive" alt="footer post thumb image"></figure>
                                </li>
                                <li>
                                    <figure><img src="assets/images/gallery/04.jpg" class="img-responsive" alt="footer post thumb image"></figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area text-center mt-50">
                        <div class="copyright-area-inner">
                            <p>© 2021 copyright,all right By <a href="http://www.jq22.com/">jq22</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end --><!-- Back to top start -->
    <div class="back-to-top"><span class="back-top"><i class="fa fa-angle-up"></i></span></div>
    <!-- Back to top end --><!-- Preloader start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="center"><span></span><span></span><span></span><span></span></div>
            <hr />
        </div>
    </div>
    <!-- Preloader end -->
    <!-- jquery -->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="assets/js/wow.min.js"></script>
    <!-- owl carousel -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- waypoint -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- jarallax -->
    <script src="assets/js/jarallax.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
</body>
</html>